
<div class='row ng-controller='CreateRestaurantCtrl'>
	<div class='panel-body'>
	<form action="" method="POST" name="signUpForm" role="form" >
		<table class='table table-striped'>	
			<legend class="form-label"><h1><Strong>Restaurant Info</strong></h1> </legend>		
				
				<tr><td><label for="name">Restaurant Name</label></td><td><div class="form-group">
					
					<div class="error form-hint" ng-show="signUpForm.name.$dirty && signUpForm.name.$error.required" ng-cloak>[["This field is required."]]</div>
					<input type="text" class="form-control" ng-class="(signUpForm.name.$dirty && signUpForm.name.$invalid) ? 'error' : ''" id="name" name="name" ng-required="true" ng-model="restaurant.name" ng-value="[[restaurant.name]]">
				</div>
				</td></tr>
				
				<tr><td>Tel : </td><td><div class="form-group">
					
					<div class="error form-hint" ng-show="signUpForm.tel.$dirty && signUpForm.tel.$error.required" ng-cloak>[["This field is required."]]</div>
					<input type="number" class="form-control" ng-class="(signUpForm.tel.$dirty && signUpForm.tel.$invalid) ? 'error' : ''" id="tel" name="tel"  ng-required="true" ng-model="restaurant.tel" ng-value="[[restaurant.tel]]">
				</div></td></tr>
				<tr><td>Latitude : </td><td><div class="error form-hint" ng-show="signUpForm.latitude.$dirty && signUpForm.latitude.$error.required" ng-cloak>[["This field is required."]]</div>
					<input type="number" class="form-control" ng-class="(signUpForm.latitude.$dirty && signUpForm.latitude.$invalid) ? 'error' : ''" id="tel" name="latitude"  ng-required="true" ng-model="restaurant.latitude" ng-value="[[restaurant.latitude]]">
				</div>
				</td></tr>
				<tr><td>Longitude  : </td><td><div class="error form-hint" ng-show="signUpForm.Longitude.$dirty && signUpForm.latitude.$error.required" ng-cloak>[["This field is required."]]</div>
					<input type="number" class="form-control" ng-class="(signUpForm.longitude.$dirty && signUpForm.longitude.$invalid) ? 'error' : ''" id="tel" name="longitude"  ng-required="true" ng-model="restaurant.longitude" ng-value="[[restaurant.longitude]]">
				</div></td></tr>	
				<!--<tr><td>Address : </td><td>[[restaurant.address]]<label for="Address">Address</label>

							<div class="error form-hint" ng-show="signUpForm.address.$dirty && signUpForm.address.$error.required" ng-cloak>[["This field is required."]]</div>

							<textarea cols='4' rows='5' class="form-control" ng-class="(signUpForm.address.$dirty && signUpForm.address.$invalid) ? 'error' : ''" id="Address" name="address" placeholder="Enter residential address" ng-required="true" ng-model="restaurantAdministrator.address"/>
						</div>-->
					</td></tr>				
				<tr><td><a class='btn btn-info'  href="#!/list" role="button">Back</a></td><td><a class='btn btn-success' ng-click='submit($parent.restaurant)' role="button">Add Restaurant</a></td></tr>
			</table>
		</form>
	</div>	
</div>
								

    