<form action="" method="POST" name="signUpForm" role="form" ng-controller="FormController">
    <legend class="form-label">Admin Registration </legend>

    <div class="form-group">
        <label for="fullname">Fullname</label>

        <div class="error form-hint" ng-show="signUpForm.fullname.$dirty && signUpForm.fullname.$error.required" ng-cloak>[["This field is required."]]</div>

        <input type="text" class="form-control" ng-class="(signUpForm.fullname.$dirty && signUpForm.fullname.$invalid) ? 'error' : ''" id="fullname" name="fullname" placeholder="Enter fullname" ng-required="true" ng-model="restaurantAdministrator.fullname">
    </div>
	<div class="form-group">
        <label for="fullname">Username</label>

        <div class="error form-hint" ng-show="signUpForm.username.$dirty && signUpForm.username.$error.required" ng-cloak>[["This field is required."]]</div>

        <input type="text" class="form-control" ng-class="(signUpForm.username.$dirty && signUpForm.username.$invalid) ? 'error' : ''" id="username" name="username" placeholder="Enter username" ng-required="true" ng-model="restaurantAdministrator.username">
    </div>
	    <label for="Cell">Cell</label>

        <div class="error form-hint" ng-show="signUpForm.cell.$dirty && signUpForm.cell.$error.required" ng-cloak>[["This field is required."]]</div>

        <input type="number" class="form-control" ng-class="(signUpForm.cell.$dirty && signUpForm.cell.$invalid) ? 'error' : ''" id="cell" name="cell" placeholder="Enter cell" ng-required="true" ng-model="restaurantAdministrator.cell">
    </div>
	 <div class="form-group">
        <label for="Address">Address</label>

        <div class="error form-hint" ng-show="signUpForm.address.$dirty && signUpForm.address.$error.required" ng-cloak>[["This field is required."]]</div>

        <textarea cols='4' rows='5' class="form-control" ng-class="(signUpForm.address.$dirty && signUpForm.address.$invalid) ? 'error' : ''" id="Address" name="address" placeholder="Enter residential address" ng-required="true" ng-model="restaurantAdministrator.address"/>
    </div>

    <div class="form-group">
        <label for="email">Email</label>

        <div class="error form-hint" ng-show="signUpForm.email.$dirty && signUpForm.email.$error.required" ng-cloak>[["This field is required."]]</div>

        <div class="error form-hint" ng-show="signUpForm.email.$dirty && signUpForm.email.$error.email" ng-cloak>[["Email is invalid."]]</div>

        <input type="email" class="form-control" ng-class="(signUpForm.email.$dirty && signUpForm.email.$invalid) ? 'error' : ''" id="email" name="email" placeholder="Enter email address" ng-required="true" ng-model="restaurantAdministrator.email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>

        <div class="form-hint">To conform with our Strong Password policy, you are required to use 
            a sufficiently strong password. Password must be more than 7 characters.</div>

        <input type="password" class="form-control ok-password" ng-class="(joinTeamForm.password.$dirty && joinTeamForm.password.$invalid) ? 'error' : ''" id="password" name="password" placeholder="Enter Password" ng-required="true" ng-model="restaurantAdministrator.password"> </div>
	<div class="label password-count" ng-class="password.length > 7 ? 'label-success' : 'label-danger'" ng-cloak>[[ password | passwordCount:7 ]]</div>

	<div class="strength-meter">
		<div class="strength-meter-fill" data-strength="[[passwordStrength]]"></div>
	</div>
	<div class="form-group">
        <label for="password">Confirm Password</label>


        <input type="Confirm_password" class="form-control" ng-class="(signUpForm.Confirm_password.$dirty && signUpForm.Confirm_password.$invalid) ? 'error' : ''" id="Confirm_password" name="Confirm_password" placeholder="Enter Confirmation password" ng-required="true" ng-model="Confirm_password">
    </div>
	[[csrf_field()]]
    <button id = "submit" type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid" ng-click='submit($parent.restaurantAdministrator)' >Submit</button>
</form>
<script>
	$("submit").click(function(event){
		event.preventDefault();
		event.preventPropagation();
	});
	

</script>