


#searchfield{
	height:20px;
	width:100%;
	margin-top:20px;
	margin-bottom:30px;
}

table.imagetable tr:hover > td {
	background:#ffffff;
}

#contains{
	height:20px;
	width:500px;
	margin-top:40px;
	margin-bottom:60px;
}

body {
   margin:0;
   padding:0;
  }
  
#pagi{
	margin :0 auto;
	width:100%;
	
}
