
/* Primitive classes 
=================================*/

h1 {
	color: #444444;
}
h1 strong {
	font-weight: 900;
	color: #ffffff;
}
h2 {
	line-height: 20px;
	font-size: 32px;
	font-weight: 700;
	margin: 0;
	color: #444444;
}
h2 span{
	line-height: 20px;
	font-size: 32px;
	font-weight: 700;
	margin: 0;
	color: #ffffff;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: #444444;
}
h4 {
	font-size: 20px;
	color: #444444;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
	color: #444444;
}
p {
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #FF4E50;
}
a:hover, a:focus {
	text-decoration: none;
	color: #FF4E50;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}
.greyparagraph{
	color:#fff;	
}
.myfooter {
	text-align:left;
	}
	
ul {
	padding: 0;
	webkit-padding: 10px;
	moz-padding: 10px;
	list-style: none;	
	text-align:left;
	margin-left:0;
	
}
hr {
	height: 3px;
	width: 100%;
	text-align: left;
	position: relative;
	background: #FF4E50;
	border: 0;
	margin: 10px auto 30px;
}
/* Navigation ids*/
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 22px;
	color: #ffffff;
	font-weight: 900;
}

#menu a.navbar-brand i.fa {
	color: rgba(228, 23, 23, 0.74);
	margin-right: 3px;
}
#menu.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #FF4E50;
}
/* nav containers/classes */
.on {
	background-color: #FF4E50 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #FF4E50;
	border-color: #ffffff;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFFFFF;
}

/* Home Style 
========================*/
header {
	background: url(../img/headerBackground.jpg) no-repeat bottom right;
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}



/*  svg img positioning  
===========================*/



/*svg border*/


.pinkies{
	background-color:#FF4E50;
}
.painter{
		background-color:#18D4CA;
}

.capturer{
	background-color:#FFA710;
}
.airbys{
	background-color:#667DF3;
}
.img{
	
	border:4px solid white;FF4E50
} 
#music{
	width:300px;
	height:400px;
	margin-top:10px;
	margin-bottom:200px;
	margin-left:0;
	top:90px;
	left:0px;
	position:absolute;
	padding-left:0px;
	

	
}
#brush{
	width:300px;
	height:400px;
	margin-top:10px;
	margin-bottom:200px;
	top:90px;
	left:0px;
	position:absolute;

	
}

#camera{
	width:300px;
	height:400px;
	margin-top:10px;
	margin-bottom:200px;
	top:90px;
	left:0px;
	position:absolute;

	
}

#airplane{
	width:300px;
	height:400px;
	margin-top:10px;
	margin-bottom:200px;
	top:90px;
	left:0px;
	position:absolute;

	
}


/* team sect*/



/* Gallery Section 
==============================*/
.overlay{
	opacity:1;
	background-color:#4e4d4d;
	position:relative;
	width":50%;
	height:auto;
	
}

.footeroverlay{
	opacity:1;
	background-color:grey;
	position:relative;
	width":50%;
	height:auto;
	
}
.wrapper img{
	opacity: .5;
}

.wrapper {
	font-family:sans-serif;
	width:100%;
	margin:0 auto;
	position:relative;
	
}

img{
	opacity:1;
	display:block;
	width":100%;
	height:auto;
	transition:.0s ease;
	color:#fff;
	
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	
    -ms-transform: translate(-50%, -50%);
	font-size : 60px;
	color:#000000;
	white-space: nowrap;
	overflow:visible;
}


.block-img1 {
	background-image:url(../img/block/block1Sports.jpg) ;
	background-size: cover;
	color: #000000;
	position: relative;
	height: 100%;
	margin-top:50px;
	margin-bottom:10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 150px;
	padding-bottom: 150px;
	
}


.block-img2 {
	background-image:url(../img/block/block2Wellness.jpg);
	background-size: cover;
	color: #ffffff;
	position: relative;
	height: 100%;
	margin-top:50px;
	margin-bottom:10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 150px;
	padding-bottom: 150px;
}

.block-img3 {
	background-image:url(../img/block/block3Expeditions.jpg);
	background-size: cover;
	color: #ffffff;
	position: relative;
	height: 100%;
	margin-top:50px;
	margin-bottom:10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 150px;
	padding-bottom: 150px;
}


.block-img4 {
	background-image:url(../img/block/block4Games.jpg);
	background-size: cover;
	color: #ffffff;
	position: relative;
	height: 100%;
	margin-top:50px;
	margin-bottom:10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 150px;
	padding-bottom: 150px;
}
.block-img5 {
	background-image:url(../img/block/block5Culture.jpg);
	background-size: cover;
	color: #ffffff;
	position: relative;
	height: 100%;
	margin-top:50px;
	margin-bottom:10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 150px;
	padding-bottom: 150px;
}
.block-img6 {
	background-image:url(../img/block/block6Beauty.jpg);
	background-size: cover;
	color: #ffffff;
	position: relative;
	height: 100%;
	margin-top:50px;
	margin-bottom:10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 150px;
	padding-bottom: 150px;
}

.block-img7 {
	background-image:url(../img/block/block7Travelling.jpg);
	background-size: cover;
	color: #ffffff;
	position: relative;
	height: 100%;
	margin-top:50px;
	margin-bottom:10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 150px;
	padding-bottom: 150px;
	
}


header p {
	color: rgba(255,255,255,0.8);
	font-size: 20px;
	margin-bottom: 80px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 60px;
	text-transform: uppercase;
	color: #fff;
}
.btn-default {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: 2px solid rgba(255,255,255,0.8);
	margin: 0 8px;
	padding: 12px 24px;
	font-size: 16px;
	transition: all 0.5s;
	border-radius: 4px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #cc3737;
	color: #ffffff;
	border-color: #fff;
}
/* Services Section */
#partners-section {
	padding: 120px 0;
	background-color: #fff;
}
#partners-section h4 {
	font-weight: 700;
}
.space {
	margin-top: 40px;
}
#partners-section i.fa {
	font-size: 40px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #0dbf9b;
}

/* Button rounded   
==============================*/

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
/* END */
