<!-- index.html -->

<!DOCTYPE html>
<html > 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Clients  System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        		
    </head>
    <body ng-app="app"  ng-controller='HomeCtrl'>
		<div class = "container">
			<h2>Question One ?</h2>		
			<h2>LIST OF REGISTERED MEMBERS </h2>	
			<div ng-view></div>
			
			<div ng-init="getUsers()" class=""></div>
			<br/>
			<users><users>
			</div>	
					
		<div class ="col-md-6">
		<br/>
		
		<br/>
			<ul>
				<li  ng-repeat ="u in users">[[u.firstname]]</li>
			</ul>					
		</div>	
		<br/>
		<br/>
		<h2>Question 2 ? </h2>
		<br/>
		<p><h3>Sum is :</h3> [[sum]]</p>
		<h2>Question 3 ? </h2>		
		<br/>
		<br/>
		<p><h3>Array with words starting with letter 'L' or 'l' are as follows :</h3> </p>
		<br/>
			<ul>
				<li  ng-repeat ="person in newarray">[[person]]</li>
			</ul>
		<br/>
		<br/>
		<h2>Question 4 ? </h2>		
		<br/>
		<br/>
		<p><h3>Sorted ID Number is </h3> </p>
		<br/>
			<ul>
				<span>[[id]]</span>
			</ul>
		<br/>
		<br/>
		<span>Thank you !!!</span>	
			
		
		</div>
		<script src="./JS/node_modules/jquery/dist/jquery.js"></script>
		<script src="./js/node_modules/angular/angular.js"></script>		
		<script src="./js/node_modules/angular-resource/angular-resource.js"></script>
		<script src="./js/node_modules/angular-route/angular-route.js"></script>
        <link rel="stylesheet" href="./JS/node_modules/bootstrap/dist/css/bootstrap.min.css">	
		<script type="text/javascript" src="./JS/modernizr.custom.js"></script>
        <link rel="stylesheet" href="./CSS/styles.css">
        <script src="./JS/application.js"></script>
	</body>		
</html>