	<div ng-controller='HomeCtrl' ng-init='getUsers()'>
		<div class = 'search' id='searchfield'>
			<input type= 'text' name = 'searchTerm' ng-model= 'searchTerm'  placeholder='Enter search term ' />
				<button  class= "btn btn-primary" name='btnsearch' id='btnsearch' type='submit' ng-Click = 'search(searchTerm)' >Search...</button>
			
		</div>
		<div class = 'body' >
		<form method="post">
			<table  width=100% class='table table-hover '  >				
				<tr>			
					<th>User</th><th>ID Number</th><th>Date of birth</th><th>Age</th><th>Gender</th>							
				</tr>
				<tr ng-repeat = 'user in users | filter : searchTerm '  role="button" ng-click="edit(user)"  >
					<td>[[user.fullname]]</td><td>[[user.idnumber]]</td><td>[[user.dob]]</td><td>[[user.age]]</td><td>[[user.gender]]</td>	
				</tr>				
			</table>
			<div id = "msg"></div>			
			<div class= "row">
				<div class = 'center'>
					<contact><contact>
				</div>
			</div>
			<div class = "row ">
			<div class= "col-md-6">
			
			<div class="panel panel-default" border="1">
				<div class="panel-heading btn input-block btn btn-primary">___ Contact details<span style = "color:white"> ______________________________________________ </span></div>
				
					<div class="panel-body">
						<table >
							<tr><td><span style = "color:white">.</span></td>
							</tr>						
							<tr>			
								<td> Mobile number </td><td><input type="text" ng-model="mobilenumber" ng-value="[[con.mobilenumber]]"></td>
							</tr>
							<tr>
								<td> Email Address </td><td><input type="text" ng-model="email" ng-value="[[con.email]]"></td>
							<tr><td><span style = "color:white">.</span></td>
							</tr>						
							<tr><td><span style = "color:white">.</span></td>
							</tr>						
							
						</table>
					</div>
				</div>
				<hr/>
				</div>

			<div class = "col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading btn btn-primary">___ Residential details <span style = "color:white"> ______________________________________________</span></div>
					<div class="panel-body">
						<table>	
							<tr><td><span style = "color:white">.</span></td>
							</tr>						
													
						<tr>			
							<td>Street number </td><td><input type="text" ng-model="streetnumber" ng-value="[[resi.streetnumber]]"  />
						</tr>
						<tr>
							<td>streetname  </td><td><input type="text" ng-model="streetname" ng-value="[[resi.streetname]]" /></td>							
						</tr>
						<tr>			
							<td>Suburb</td><td><input type="text" ng-model="suburb" ng-value="[[resi.suburb]]"/>
						</tr>
						<tr>
							<td>Postal code   </td><td><input type="text" ng-model="postalcode" ng-value="[[resi.postalcode]]" /></td>							
						</tr>
									
						</table>					
					</div>
				</div>
			</div>
			</div>
			</form>
			
			</div>
		<hr/>
			<div class="row">
			<div class= "pull-right">
			<button type = "submit" name="submit" ng-click="save()"   class= "btn btn-primary ">[[$parent.settings.action]]</a>
			</div>
			</div>
		<hr/>
	</div>
