<div id ="msg"></div></div>
	
  <div  class="container" ng-controller='HomeCtrl'>  
<div class="row ">
	    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"><h1>Sign Up</h1></div>
						<div ng-view></div>
                        </div>     

                    <div style="padding-top:30px" class="panel-body" >

							<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
							<form id="loginform" class="form-horizontal" role="form">
                                    
								<div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <div class="error form-hint" ng-show="signUpForm.firstname.$dirty && signUpForm.firstname.$error.required" ng-cloak>[["This field is required."]]</div>
										<input type="text" class="form-control" ng-class="(signUpForm.firstname.$dirty && signUpForm.firstname.$invalid) ? 'error' : ''" id="firstname" name="firstname" ng-required="true" ng-model="user.firstname"  placeholder="Enter firstname">
								</div>                                
								<div style="margin-bottom: 25px" class="input-group">
										<div class="error form-hint" ng-show="signUpForm.surname.$dirty && signUpForm.surname.$error.required" ng-cloak>[["This field is required."]]</div>
										<input type="text" class="form-control" ng-class="(signUpForm.surname.$dirty && signUpForm.surname.$invalid) ? 'error' : ''" id="surname" name="surname" ng-required="true" ng-model="user.surname"  placeholder="Enter Surname">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                </div>
									<div style="margin-bottom: 25px" class="input-group">
										<div class="error form-hint" ng-show="signUpForm.idnumber.$dirty && signUpForm.idnumber.$error.required" ng-cloak>[["This field is required."]]</div>
										<input type="text" class="form-control" ng-class="(signUpForm.idnumber.$dirty && signUpForm.idnumber.$invalid) ? 'error' : ''" id="surname" name="idnumber" ng-required="true" ng-model="user.idnumber"  placeholder="Enter ID number ">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                </div>
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-login" ng-click="submit($parent.user)" class="btn btn-success">Sign Up  </a>

                                    </div>
                                </div>
                            </form> 
                        </div>                     
                    </div>  
        </div>
		</div>